@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
.company-form {
  height: 90px;
  width: 860px;
  background-color: white;
  border: 1px;
  border-style: solid;
}

.company-window-father {
  border: 1px;
  border-style: solid;
  overflow: scroll;
}

.company-shadow-box {
  height: 110px;
  width: 860px;
  left: 10px;
  top: 5px;
  position: relative;
}

.company-left {
  position: relative;
  left: 30px;
}

.company-title {
  font-size: 20px;
  font-style: oblique;
  left: 30px;
  top: 4px;
}

.company-type {
  font-size: 14px;
  top: 31px;
  left: 45px;
}

.company-type-icon {
  position: relative;
  left: 28px;
  top: 10px;
}

.pin-position {
  position: relative;
  left: 150px;
}

.pin2 {
  position: absolute;
  top: 44%;
  left: 50%;
  margin-left: -200px;

  border-radius: 50%;
  border: 4px solid rgb(0, 0, 0);
  width: 4px;
  height: 4px;
}

.pin2::after {
  position: relative;
  content: '';
  width: 0px;
  height: 0px;
  bottom: -23px;
  left: -3px;
  border: 5px solid transparent;
  border-top: 17px solid rgb(0, 0, 0);
}

.locations-name {
  position: absolute;
  left: 250px;
  top: 55px;
}

.rating-date {
  position: relative;
  left: 600px;
  top: -50px;
}

.checked {
  color: orange;
}

.position-like {
  position: relative;
  left: 580px;
  top: -76px;
}